@font-face {
  font-family: "Jalnan";
  src: url("./Jalnan.ttf");
}

@font-face {
  font-family: "Pretendard";
  src: url("./Pretendard-Medium.ttf");
}

@font-face {
  font-family: "Leferi";
  src: url("./LeferiPointWhiteOblique.ttf");
  font-weight: lighter;
  font-style: normal;
}
